<h1>Your Favourite Posts</h1>

<%# Displays the listings that the user has favourited, and what date/time they did so using STRFTIME.net %>
<% if current_user %>
<% current_user.favorites.each do |favorite| %>
On [<%= favorite.created_at.strftime("%D at %T") %>] you favourited this listing: <%= link_to favorite.listing.title, favorite.listing %>
<br>
<% end %>
<% else %>
    <p>You gotta be logged in to hav the fav!</p>
<% end %>