

<%# renders a navbar and chooses what to display depending on whether the user is signed in. %>
<%# there is a link with the "", then the path. For delete, the method has to be specified %>
<%# otherwise rails will assume it's a GET request. %>

<%# <nav class="navbar navbar-expand-sm .bg-light.bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">The Good Plot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">Listings</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> %>

<body>
    <div class="container bg-dark">
        <nav class="navbar navbar-dark navbar-expand-sm">
            <a href="#" class="navbar-brand">The Good Plot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/listings" class="nav-link">Listings</a>
                    </li>
                    <% if user_signed_in? %>
                    <li class="nav-item">
                        <a href="/orders/bought" class="nav-link">Bought</a>
                    </li>
                    <li class="nav-item">
                        <a href="/orders/sold" class="nav-link">Sold</a>
                    </li>
                    <li class="nav-item">
                        <a href="/addresses" class="nav-link">Order Addresses</a>
                      <li class="nav-item">
                        <a href="/favorites/show" class="nav-link">Favourites</a>
                    </li>
                    <% end %>
                </ul>
            </div>
        </nav>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<div class="sign">
<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign Up |", new_user_registration_path %>
<%= link_to " Sign In", new_user_session_path %>
<% end %>
</div>