$clr-sold: #c8e6c9;
$clr-not: #ffcdd2;
$clr-gray300: #e1e5ee;

body {
    background-color: azure ;
}

a {
    text-decoration: none;
    color: brown;
}


table {
    border-collapse:collapse;
    box-shadow: 0 5px 10px $clr-gray300;
    background-color: white;
    text-align: left;
    overflow: hidden;

    thead {
        box-shadow:0 5px 10px $clr-gray300;
    }

    th{
        padding:1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;
        font-weight: 900;
    }

    td{
        padding:1rem 2rem;
    }

    .status {
        border-radius: 2rem;
        background-color: azure;
        padding: 0.2rem 1rem;
        text-align: center;
    }
    .sold{
        background-color: blue;
    }
}